<div class=" text-center information p-5 text-white">
    <div class="row">
        <div class="col-4">
            <div>
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <small>Clark, MO 65244</small>
            </div>
        </div>

        <div class="col-4">
                <div>
                    <h3>AROUND THE WEB</h3>
                    <div class="icons">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-solid fa-location-pin"></i>
                    </div>
                </div>    
            </div>
        

        <div class="col-4">
            <div>
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>

        
    </div>
</div>