<div class="contact w-75 mx-auto">
  <form [formGroup]="contactForm" (ngSubmit)="test()">
    <div>
      <label for="name">Name:</label>
      <input formControlName="name" type="text" id="name" name="name" />
      <div *ngIf="contactForm.get('name')?.errors && contactForm.get('name')?.touched" class="alert alert-danger">
        <p *ngIf="contactForm.get('name')?.errors?.['required']">
          name is requered
        </p>
        <p *ngIf="contactForm.get('name')?.errors?.['maxLength']">
          max length 9
        </p>
        <p *ngIf="contactForm.get('name')?.errors?.['minLength']">
          min length 3
        </p>
      </div>
    </div>

    <div>
      <label for="age">Age:</label>
      <input formControlName="age" type="number" id="age" name="age" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input formControlName="email" type="email" id="email" name="email" />
      <div *ngIf="contactForm.get('email')?.errors && contactForm.get('email')?.touched" class="alert alert-danger">
        <p *ngIf="contactForm.get('email')?.errors?.['required']">
          email is requered
        </p>
        <p *ngIf="contactForm.get('email')?.errors?.['email']">
          please enter the email
        </p>
      </div>
    </div>

    <div>
      <label for="password">Password:</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        name="password"
      />
    </div>
    
    <div>
      <label for="password">rePassword:</label>
      <input
        formControlName="rePassword"
        type="password"
        id="password"
        name="password"
      />

      <div *ngIf="contactForm.get('rePassword')?.errors && contactForm.get('rePassword')?.touched" class="alert alert-danger">
        <p *ngIf="contactForm.get('rePassword')?.errors?.['required']">
          rePassword is requered
        </p>
        <p *ngIf="contactForm.get('rePassword')?.errors?.['pattern']">
          please enter the rePassword
        </p>
      </div>
    </div>

    <button
      [disabled]="contactForm.invalid"
      type="submit"
      class="btn btn-success"
    >
      log in
    </button>
  </form>
</div>



 