    
<div class="port">
    <h1>PORTFOLIO COMPONENT</h1>
    <div class="lines d-flex justify-content-center align-items-center">
        <div class="line "></div>
        <i class="fa-solid fa-star m-1"></i>
        <div class="line "></div>
     </div>

     <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="overlay-container ">
                    <img src="/assets/img/photo home1 (1).png" class="img-fluid">
                    <div class="overlay-div">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="overlay-container">
                    <img src="/assets/img/photo home2 (1).png" alt="Image">
                    <div class="overlay-div">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="overlay-container">
                    <img src="/assets/img/photo home3 (2).png" alt="Image">
                    <div class="overlay-div">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="overlay-container ">
                    <img src="/assets/img/photo home1 (1).png" class="img-fluid">
                    <div class="overlay-div">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="overlay-container">
                    <img src="/assets/img/photo home2 (1).png" alt="Image">
                    <div class="overlay-div">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
            
            <div class="col-4">
                <div class="overlay-container">
                    <img src="/assets/img/photo home3 (2).png" alt="Image">
                    <div class="overlay-div">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
     </div>

</div>


    