<div class="container mt-5 content ">
    <div class="row">
        <div class="col-6">
            <div class="port ">
               <a class="btn" routerLink="product" routerLinkActive="bg rounded-pill">PORTFOLIO COMPONENT</a>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis.</p>
            </div>
        </div>

        <div class="col-6">
            <div class="product ">
                <a class="btn" routerLink="details" routerLinkActive="bg rounded-pill">Our Product</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum.</p>
            </div>
        </div>
        <h2>hii  from new commit</h2>
    </div>
</div>

<router-outlet></router-outlet>




  